@charset "utf-8";

/* 1:1 문의 작성 */
	#main {
		background-color: #F9F5F6;
	}
	
	.qna_write_form {
	   margin-top: 50px;
	   width: 60%;
	   margin-left: auto;
	   margin-right: auto;
	}
	
	.qna_write_form div {
	   margin-bottom: 30px; 
	}
	
	.qna_write_form textarea {
	   width: 90%;
	   height: 300px;
	   padding-left: 20px;
	   padding-top: 20px;
	   font-size: 13px;
	   border: 1px solid skyblue;
	   outline: none;
	   border-radius: 20px;
	}
	
	#q_title {
		width: 80%;
		height: 40px;
		padding-left: 20px;
		border: 1px solid skyblue;
		outline: none;
		border-radius: 20px;
	}
	
	#category {
		width: 70px;
		height: 45px;
		margin-left: 10px;
		border: 1px solid skyblue;
		outline: none;
	}
	
	.submit_btn button {
		width: 200px;
		height: 40px;
		border-top: none;
		border-left: none;
		border-right: none;
		border-radius: 20px;
		border-color: #537188;
		background-color: #E3F4F4;
		color: #537188;
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 50px;
	}
	
	.submit_btn button:hover {
		cursor: pointer;
	}
	
	
	
/* 1:1 문의함 관리자 목록으로 버튼 */
	
	.qna_board_btn {
		margin-bottom: 100px;
	}
	
	/* 1:1문의 작성하기 버튼 */
	.qna_board_btn h3 {
	  float: right;
	  margin-top: 0px;
	  margin-right: 150px;
	  background-color: transparent;

	}
	
	.fa-pen-nib {
		font-size: 30px;
		background-color: white;
	}
	
	.fa-list {
		font-size: 30px;
		background-color: white;
	}
	
	.qna_board_btn button {
		background-color: transparent;
		border: none;
		text-decoration: none;
		text-align: center;
	    display: inline-block;
	}
	
	.qna_board_btn button .write-icon-text {
	    display: block;
	    margin-top: 3px;
	    text-align: center;
	    color: #5398a2;
	    font-weight: bold;
	  }
	
	.qna_board_btn button:hover {
	    cursor: pointer;
	  }
	  
	  .fa-pen-to-square {
	  	font-size: 20px;
	  }
	  
	 .last_answer {
	 	margin-bottom: 40px;
	 }
/* qna_board 회원 개인 1:1 문의함 리스트 */

	table.qna_board_table {
	  border-collapse: collapse;
	  text-align: left;
	  line-height: 1.5;
	  margin: 0 auto;
	  margin-top: 40px;
	  margin-bottom: 40px;
	}
	
	table.qna_board_table thead th {
	  padding: 10px;
	  font-weight: bold;
	  vertical-align: top;
	  color: #369;
	  border-bottom: 3px solid #036;
	  gap: 140px;
	}
	
	table.qna_board_table tbody th {
	  width: 150px;
	  padding: 10px;
	  font-weight: bold;
	  vertical-align: top;
	  border-bottom: 1px solid #ccc;
	  background: #f3f6f7;
	}
	
	table.qna_board_table td {
	  width: 420px;
	  padding: 10px;
	  vertical-align: top;
	  border-bottom: 1px solid #ccc;
	}
	
	table.qna_board_table td,
	table.qna_board_table th {
	  text-align: center;
	  padding-left: 20px;
  	  padding-right: 20px;	
  	}
	
	#qna_board_main {
		text-align: center;
	}
	
	.qna_board_table a {
		text-decoration: none;
		color: #000;
	}
	
	.qna_board_table a:hover {
		color: #537188;
	}
	
	.qna_board_table a:visited {
		text-decoration: none;
	}
	
	.fa-solid.fa-trash.fa-bounce {
		font-size: 40px;
		margin-top: 30px;
		margin-left: 30px;
	}
	
	/* view안에 제목, 버튼 flex */
	.view_question_list {
		display: flex;
		gap: 65%;
		align-items: center;
		height: 30px;
		margin-top: 30px;
	}
	