<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ohmija.repository.PostMessageDAO">

	
<!-- 	<select id="findReciever" parameterType="string" resultType="int"> -->
<!-- 		SELECT idx FROM member WHERE nickname = #{reciever} -->
<!-- 	</select> -->
	
	<insert id="sendMessage" parameterType="message">
		insert into post_message (writer, reciever, title, content, category)
			values 
				(#{writer}, #{reciever}, #{title}, #{content}, #{category})
	</insert>
	
	<select id="selectMessage" parameterType="int" resultType="message">
		SELECT pm.idx,
       		wm.nickname as writer_nickname,
       		rm.nickname as reciever_nickname,
       		pm.title,
       		pm.content,
      		pm.category,
       		pm.result,
       		pm.date_column
		FROM post_message pm
		JOIN member wm ON pm.writer = wm.idx
		join member rm on pm.reciever = rm.idx 
		WHERE pm.reciever = #{idx} or pm.writer = #{idx}
	</select>
	
	<delete id="delete" parameterType="int">
		delete from post_message where idx = #{idx}
	</delete>
	
		<select id="select_SendMessage" parameterType="int" resultType="message">
		SELECT pm.idx,
       		wm.nickname as writer_nickname,
       		rm.nickname as reciever_nickname,
       		pm.title,
       		pm.content,
      		pm.category,
       		pm.result,
       		pm.date_column
		FROM post_message pm
		JOIN member wm ON pm.writer = wm.idx
		join member rm on pm.reciever = rm.idx 
		WHERE pm.writer = #{idx}
	</select>
		<select id="select_recievedMessage" parameterType="int" resultType="message">
		SELECT pm.idx,
       		wm.nickname as writer_nickname,
       		rm.nickname as reciever_nickname,
       		pm.title,
       		pm.content,
      		pm.category,
       		pm.result,
       		pm.date_column
		FROM post_message pm
		JOIN member wm ON pm.writer = wm.idx
		join member rm on pm.reciever = rm.idx 
		WHERE pm.reciever = #{idx}
	</select>
	
</mapper>

