<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ohmija.repository.Fes_boardDAO">
	<insert id="mainWrite" parameterType="fes_board">
		insert into board
				(member, strat_date, end_date, title, content, region, file_name, file_path, festival_category)
			values
				(#{member}, #{strat_date}, #{end_date}, #{title}, #{content}, #{region}, #{file_name}, #{file_path}, #{festival_category})
		
	</insert>
</mapper>