@charset "utf-8";

/* 평점 */
.starpoint_wrap {
	display: inline-block;
	height: 21.6px;
	scale: 0.9;
}
.starpoint_box {
	position: relative;
	background: url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 0 no-repeat;
	font-size: 0;
	transition: 0.2s;
	padding-bottom: 2px;
}
.starpoint_box .starpoint_bg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	background: url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 -20px no-repeat;
	pointer-events:none;
	transition: 0.2s;
}
.starpoint_box .label_star{
	display: inline-block;
	width: 10px;
	height: 18px;
	box-sizing: border-box;
	margin-bottom: -2px;
}
.starpoint_box .star_radio{
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
}
.starpoint_box .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg{width:10%;}
.starpoint_box .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg{width:20%;}
.starpoint_box .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg{width:30%;}
.starpoint_box .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg{width:40%;}
.starpoint_box .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg{width:50%;}
.starpoint_box .star_radio:nth-of-type(6):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(6):checked ~ .starpoint_bg{width:60%;}
.starpoint_box .star_radio:nth-of-type(7):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(7):checked ~ .starpoint_bg{width:70%;}
.starpoint_box .star_radio:nth-of-type(8):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(8):checked ~ .starpoint_bg{width:80%;}
.starpoint_box .star_radio:nth-of-type(9):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(9):checked ~ .starpoint_bg{width:90%;}
.starpoint_box .star_radio:nth-of-type(10):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(10):checked ~ .starpoint_bg{width:100%;}

.blind{
	position: absolute;
	clip: rect(0 0 0 0);
	margin: -1px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.flex {
	display: flex;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.title {
	margin: 20px 0;
	font-size: 40px;
}
.board_contents {
	display: flex;
	width: 1030px;
	min-height: 540px;
	background-color: white;
	margin: auto;
	padding: 140px 0;
}
.main {
	background-color: #ebf1eb;
	margin-top: 60px;
	padding-top: 110px;
}
.contents_main {
	margin: 0 60px;
}
.counts {
	text-align: right;
}
.write_date {
	text-align: right;
	margin-top: 20px;
}
.grade {
	margin-left: 2px;
}
.real_content {
	margin: 30px 0;
}
.real_content > div {
	margin: 13px 0;
}
.real_content > div > div {
	font-weight: bold;
	margin-right: 10px;
	width: 90px;
}
.real_content > div > p {
	margin: 0;
	width: 350px;
}
.poster {
	height: 500px;
	width: 400px;
	margin-left: 60px;
   	display: inline-flex;
   	padding: 20px 0;
   	text-align: right;
   	align-items: center;
}
.poster > img {
	max-height: 500px;
	max-width: 400px;
	margin: auto;
}
.etc_imgs {
	display: flex;
	height: 200px;
	width: 400px;
	overflow-x: auto;
	margin-left: 60px;
}
.etc_imgs > img {
	height: 100%;
}

.reply_wrap {
       margin: 0 auto;
    width: 990px;
    padding: 20px;
    background-color: white;
   }


   .reply_wrap button {
       background-color: transparent;
       border: none;
       cursor: pointer;
       font-size: 20px;
       margin-right: 10px;
   }

   .reply_wrap .reply {
       margin-top: 20px; /* 댓글 폼과 댓글 목록 간격 조정 */
   }

   .reply_wrap p {
       margin: -2px 0;
   }

   .reply_wrap textarea {
       width: 870px;
   	height: 60px;
       padding: 10px;
       border: 1px solid #ccc;
       border-radius: 4px;
   }

   .reply_wrap input[type="submit"] {
       background-color: #007bff;
       color: #fff;
       border: none;
       border-radius: 4px;
       padding: 10px 20px;
       cursor: pointer;
       height: 81.5px;
   	margin-bottom: 4px;
   }


   #delete_my_reply {
       background-color: transparent;
    color: #fe0000;
    border: none;
    font-size: 23px;
    cursor: pointer;
    margin-right: -2px;
    margin-bottom: 3px;
   }
   
   .recommend img {
   	width: 25px;
   }
   .reply_content {
   	font-size: 22px;
   }
   .x_btn {
   	margin: auto 0;
   }
   .reply_main {
   	justify-content: space-between;
    padding: 16px 29px;
    margin: 23px 10px;
    background-color: #f1f7f1;
    border-radius: 10px;
   }
   .reply_list {
   	max-height: 1000px;
   	overflow-y: auto;
   	margin-top: 13px;
   }
   .login_and_reply {
   	margin-right: 32px;
    font-size: 20px;
    animation: rainbow 4s infinite;
   }
   .login_and_reply:hover {
   	animation: none;
   }
   @keyframes rainbow {
	0% {color: red;}
	14% {color: orange;}
	28% {color: yellow;}
	42% {color: green;}
	56% {color: blue;}
	70% {color: navy;}
	84% {color: purple;}
	100% {color: red;}
}