<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.omija.repository.MemberDAO">

	<insert id="insert" parameterType="member">
		insert into member (userid, userpw, name, gender, birth, address, nickname, email, phonenumber, verify1, verify2, answer1, answer2)
			values (#{userid}, #{userpw}, #{name}, #{gender}, #{birth}, #{address}, #{nickname}, #{email}, #{phonenumber}, #{verify1}, #{verify2}, #{answer1}, #{answer2})
	</insert>
	
	<select id="selectCount" parameterType="string" resultType="int">
		select count(*) from member
				where
					userid = #{userid}
	</select>
	
	<select id="insertpasswd" parameterType="string" resultType="int">
			select count(*) from member
				where
					userpw = #{userpw}
	</select>

	<select id="selectLogin" parameterType="member" resultType="member">
		select * from member
			where
				userid = #{userid}
				and
				userpw = #{userpw}
	</select>
	
	<select id="getlogin" parameterType="member" resultType="int">
		select count(*) from member
			where
				userid = #{userid}
				and
				userpw = #{userpw}
	</select>
	
	<select id="nickNameCheck" parameterType="string" resultType="int">
			select count(*) from member
				where
					nickname = #{nickname}
	</select>
	
	<select id="emailCheck" parameterType="string" resultType="int">
			select count(*) from member
				where
					email = #{email}
	</select>
	
	
	<select id="findId" parameterType="string" resultType="int">
		select count(*) from member
			where 
				name = #{name} and email = #{email}
	</select>
	
	<select id="findId2" parameterType="string" resultType="int">
		select count(*) from member
			where 
				name = #{name} and email = #{email}
	</select>

	<select id="selectEmail" parameterType="member" resultType="string">
		select email from member
			where
				name = #{name}
				and
				email = #{email}
	</select>
	
</mapper>