<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ohmija.repository.QnADAO">

     <select id="selectAll" resultType="qna">
        select * from qna order by idx desc
    </select>

    <select id="selectOne" parameterType="int" resultType="qna">
        select * from qna where idx = #{idx}
    </select>

    <insert id="write" parameterType="qna" useGeneratedKeys="true" keyProperty="idx">
        insert into qna (member, category, title, question) 
        	values (#{member}, #{category}, #{title}, #{question})
    </insert>

    <update id="answer" parameterType="qna">
        update qna set 
        	answer = #{answer} 
        		where 
        			idx = #{idx}
    </update>
	
</mapper>

