<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ohmija.repository.PostMessageDAO">

	
<insert id="sendMessage" parameterType="message">
		insert into post_message (writer, receiver, title, content, category)
			values 
				(#{writer}, #{receiver}, #{title}, #{content}, #{category})
	</insert>
	
	<select id="selectMessage" parameterType="int" resultType="message">
	SELECT pm.idx,
       wm.nickname as writer_nickname,
       rm.nickname as receiver_nickname,
       pm.title,
       pm.content,
       pm.category,
       pm.result,
       pm.date_column,
       pm.writer,
       pm.receiver
FROM post_message pm
JOIN member wm ON pm.writer = wm.idx
JOIN member rm ON pm.receiver = rm.idx 
WHERE pm.receiver = #{idx} OR pm.writer = #{idx}
ORDER BY pm.date_column DESC
	</select>
	
	<delete id="delete" parameterType="int">
		delete from post_message where idx = #{idx}
	</delete>
	
		<select id="select_SendMessage" parameterType="int" resultType="message">
		SELECT pm.idx,
       		wm.nickname as writer_nickname,
       		rm.nickname as receiver_nickname,
       		pm.title,
       		pm.content,
      		pm.category,
       		pm.result,
       		pm.date_column,
       		pm.writer,
       		pm.receiver
		FROM post_message pm
		JOIN member wm ON pm.writer = wm.idx
		join member rm on pm.receiver = rm.idx 
		WHERE pm.writer = #{idx}
		ORDER BY pm.date_column DESC
	</select>
		<select id="select_receivedMessage" parameterType="int" resultType="message">
		SELECT pm.idx,
       		wm.nickname as writer_nickname,
       		rm.nickname as receiver_nickname,
       		pm.title,
       		pm.content,
      		pm.category,
       		pm.result,
       		pm.date_column,
       		pm.writer,
       		pm.receiver
		FROM post_message pm
		JOIN member wm ON pm.writer = wm.idx
		join member rm on pm.receiver = rm.idx 
		WHERE pm.receiver = #{idx}
		ORDER BY pm.date_column DESC
	</select>
	
	<update id="result_update" parameterType="int">
		update post_message set result = 1 where idx = #{idx}
	</update>
	
	
	<!-- 쪽지 view -->
	<select id="selectOne" parameterType="int" resultType="message">
		select * from post_message where idx = #{idx}
	</select>
	
</mapper>

