<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ohmija.repository.Admin_boardDAO">

	<select id="selectAll" resultType="adminboard">
		select idx, title, write_date from admin_board order by idx desc
	</select>
	
	<select id="selectOne" parameterType="int" resultType="adminboard">
		select * from admin_board where idx = #{idx}
	</select>
	
	<insert id="admin_write" parameterType="adminboard" >
		insert into admin_board (member, title, content) values (#{member}, #{title}, #{content})
	</insert>
	
</mapper>

