@charset "utf-8";

header {
	height: 90px;
}

footer {
	bottom: 2px;
}

#homepage_logo {
	position: absolute;
	top: 5px;
	left: 5px;
	display: inline;
}

.header1 {
	display: flex;
	justify-content: right;
}

.header1 a {
	font-size: 13px;
	color: grey;
	margin-right: 10px;
}


.header2 ul {
	display: flex;
	flex-wrap: wrap;
  	gap: 80px;
	justify-content: center;
	margin-top: 30px;
	font-size: 20px;
	list-style: none;
}

.header2 ul > li a {
	text-decoration: none;
	color: black;
}

